.git
.gitignore
.env
.env.*
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
DOCUMENTACION_TECNICA_COMPLETA.md
docker-compose.yml
.vscode
.idea
*.md
